<div id="header-block">
    <div id="header">
        <aside class="header-top">
            <div class="container">
                <ul class="header-util">
                    <li><a href="../main/main.html"><i class="icon-top-home"></i> HOME</a></li>
                    <li><a href="#modal-login" data-toggle="modal"><i class="icon-top-user"></i> LOGIN</a></li>
                    <li><a href="javascript:;"><i class="icon-top-user"></i>LOGOUT</a></li>
                    <li><a href="../sitemap/sitemap.html"><i class="icon-top-sitemap"></i> SITEMAP</a></li>
                </ul>
            </div>
        </aside>
        <header class="header-bottom">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h1 class="logo">
                            <a href="../main/main.html">
                                <i><span class="sr-only">가톨릭관동대학교</span></i>
                                <span>항공정비학과</span>
                            </a>
                        </h1>
                    </div>
                    <div class="col">
                        <nav class="gnb">
                            <ul class="dep1">
                                <!-- 학생{ -->
                                <li><a href="../student/curriculum_list.html"><span>교육과정내역</span></a></li>
                                <li><a href="../student/practice_list.html"><span>비행운행실습</span></a></li>
                                <li><a href="../student/expense_list.html"><span>실습비내역</span></a></li>
                                <!-- } -->

                                <!-- 강사{ -->
                                <li><a href="../lecturer/lecture_list.html"><span>나의 강의</span></a></li>
                                <li><a href="../lecturer/career_list.html"><span>경력증명내역</span></a></li>
                                <!-- } -->

                                <!-- 교관{ -->
                                <li><a href="../instructor/student_list.html"><span>교육대상</span></a></li>
                                <li><a href="../instructor/traning_list.html"><span>비행운행실습</span></a></li>
                                <!-- } -->


                                <!-- 공통 {-->
                                <li><a href="../personal/personal_list.html"><span>나의정보</span></a></li>
                                <li>
                                    <a href="../board/notice_list.html"><span>지원센터</span></a>
                                    <ul class="dep2">
                                        <li><a href="../board/notice_list.html">공지사항</a></li>
                                        <li><a href="../board/resource_list.html">자료실</a></li>
                                        <li><a href="../board/qna_list.html">1:1문의</a></li>
                                    </ul>
                                </li>
                                <!-- } -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>