<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="../assets/css/print.css" media="screen" />
    <link rel="stylesheet" href="../assets/css/print.css" media="print" />
    <!-- <link rel="stylesheet" type="text/css" href="../assets/lib/bootstrap-pint/bootstrap-pint.css" media="screen" />
    <link rel="stylesheet" href="../assets/lib/bootstrap-pint/bootstrap-pint.css" media="print" /> -->
<style>

</style>

<body>
    <div class="page">
        <div class="no-print-page"></div>
        <div class="sector">
            <h2>가톨릭 관동대학교 항공기술 교육원 납부 고지서</h2>
            <p class="text-danger">(학생용)</p>
            <table class="table table-bordered table-fixed  table-outline-border">
                <colgroup>
                    <col style="width:10%">
                    <col style="width:15%">
                    <col style="width:10%">
                    <col style="width:15%">
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="4">
                            20<span id="">20</span>년도 <span id=""></span>학기 <span id="">항공기술교육원</span> 교육비
                        </th>
                        <th>구분</th>
                        <th>교육비 금액(원)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2">대  학</th>
                        <td id=""  colspan="2">항공대학</td>
                        <th>교육비</th>
                        <td id="">800,000</td>
                    </tr>
                    <tr>
                        <th colspan="2">학 과(전공)</th>
                        <td id="" colspan="2">항공정비학과</td>
                        <th>합계</th>
                        <td id="">800,000</td>
                    </tr>
                    <tr>
                        <th>학번</th>
                        <td id=""></td>
                        <th>학년</th>
                        <td id=""></td>
                        <th>성명</th>
                        <td id=""></td>
                    </tr>
                </tbody>
            </table>
            <p>위 금액을 소정 기일 내에 납부하여 주시기 바랍니다.</p>
            <ul class="list-style">
                <li>납부 기간:</li>
                <li>납부 계좌번호 : 우리은행 1005-903-397357 예금주 : (학)인천가톨릭학원가톨릭관동대학교</li>
                <li>문의전화 : 항공정비학과 (033-649-7311)</li>
            </ul>
            <h2 class="sector-footer">가톨릭 관동대학교 항공기술교육원 원장</h2>
        </div>

        <div class="perforation">
            <span></span>
            <p class="perforation-text">절취선</p>
            <span></span>
        </div>

        <h4>교욱비 영수필 통지서</h4>
        <div class="sector">
            <p class="text-danger">(학교용)</p>
            <table class="table table-bordered table-fixed table-outline-border">
                <colgroup>
                    <col style="width:10%">
                    <col style="width:15%">
                    <col style="width:10%">
                    <col style="width:15%">
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="4">
                            20<span id="">20</span>년도 <span id=""></span>학기 <span id="">항공기술교육원</span> 교육비
                        </th>
                        <th>구분</th>
                        <th>교육비 금액(원)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2">대  학</th>
                        <td id=""  colspan="2">항공대학</td>
                        <th>교육비</th>
                        <td id="">800,000</td>
                    </tr>
                    <tr>
                        <th colspan="2">학 과(전공)</th>
                        <td id="" colspan="2">항공정비학과</td>
                        <th>합계</th>
                        <td id="">800,000</td>
                    </tr>
                    <tr>
                        <th>학번</th>
                        <td id=""></td>
                        <th>학년</th>
                        <td id=""></td>
                        <th>성명</th>
                        <td id=""></td>
                    </tr>
                </tbody>
            </table>
            <p>위 금액을 영수하였기에 통지합니다.</p>
        </div>

        <div class="no-print-page no-print-button">
            <button onclick="getPrt();" class="table">프린트 하기</button>
        </div>
    </div>
</body>

</html>
<script>
    /*
     * 프린트 미리보기 실행 
     */
    function getPrt() {
        window.print();
    }
</script>